*{
    margin: 0;
    padding: 0;
    font-family: courier;
}
body{
    text-align: center;
    background: #2D6A4F;
    min-height: 100vh;
}
/*=============== Burger menu */
.mobileview_burger_menu_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    background: #081C15;
    color: #95D5B2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    /* display: none; */
}
.mobileview_burger_menu_wrapper > p{
    font-size: 30px;
    /* border: 1px solid; */
    font-weight: bolder;
    text-transform: uppercase;
    margin: 10px;
}
.mobileview_burger_menu_wrapper > p > span{
    color: #2D6A4F;
}
.mobileview_burger_menu_wrapper > img{
    width: 35px;
    border-radius: 50%;
    margin: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.layer_black{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.692);
    z-index: 3;
    display: none;
}
.nav_btns{
    /* border: 1px solid red; */
    background-color: #1B4332;
    height: 100vh;
    width: 200px;
    transition: 0.5s;
    position: absolute;
    z-index: 4;
    top: 0;
    left: -200px;
    position: fixed;
}
.nav_btns > p{
    /* border: 1px solid; */
    text-align: left;
    padding: 10px;
    padding-left: 30px;
    margin: 20px 0px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: bolder;
    color: #dbffef;
    cursor: pointer;
    transition: 0.5s;
}
.nav_btns > p:hover{
    background-color: #2D6A4F;
}
.nav_btns > div{
    margin: 0;
    padding: 0;
    padding-left: 10px;
    text-align: left;
}
.nav_btns > div > img{
    width: 30px;
    margin: 15px;
    transition: 0.5s;
    cursor: pointer;
}

/* ==================form_wrapper */
.form_wrapper{
    /* border: 1px solid; */
    height: fit-content;
    width: min(300px,70%);
    background-color: #1B4332;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    inset: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    position: fixed;
    transition: 0.5s;
    transform: scale(0);
    z-index: 2;
}
.form_wrapper_info{
    /* border: 1px solid red; */
    position: relative;
    width: 220px;
    height: 320px;
    overflow: hidden;
    margin: auto;
}
.form_wrapper_info > div {
    display: flex;
    position: absolute;
    top: 0;
    transition: 1s;
}
.signin_signup_wrapper{
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headbtn{
    padding: 10px;
    font-weight: bolder;
    text-transform: uppercase;
    border: none;
    background: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
.active{
    border-bottom: 2px solid white;
}
.signin_signup_move{
    transform: translateX(-50%);
}
/* =========form_login */
.form_login,.form_sign_up{
    width: 220px
}
.form_login > label,.form_sign_up > label{
    color: white;
}
.form_login > input,.form_sign_up > input{
    padding: 7px;
    margin: 5px;
    border: none;
    width: 85%;
    border-radius: 10px;
    font-size: 10px;
    outline: none;
}
.form_login > button,.form_sign_up > button{
    margin-top: 20px;
    padding:7px 0px;
    width: 85%;
    background: #081C15;
    border: none;
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}
.close_wrapper_form{
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}
.close_wrapper_form > img{
    width: 20px;
    margin-left: 5px;
    border: 1px solid #95D5B2;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
    transition: 0.5s;
}
.close_wrapper_form > img:hover{
    background-color: #081C15;
}
/*======= form_sign_up */
